In [89]:
import pandas as pd

In [90]:
green_url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet'
zones_url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

In [91]:
df_green = pd.read_parquet(green_url)
df_zones= pd.read_csv(zones_url)

In [92]:
df_green.shape, df_zones.shape

((46912, 21), (265, 4))

In [86]:
!uv add sqlalchemy psycopg2-binary

Resolved 120 packages in 0.68ms
Audited 12 packages in 0.23ms

In [87]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [80]:
#test connection 
df.head(0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

NameError: name 'df' is not defined

In [110]:
#ingest in chunks
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000,
)

In [111]:
!uv add tqdm

Resolved 120 packages in 0.67ms
Audited 12 packages in 0.20ms

In [81]:
from tqdm.auto import tqdm

In [ ]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

0it [00:00, ?it/s]